*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100vw;
    height: 100vh;
    /* background-color:#853F92; */
    background-color:#AA65BA;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    justify-content: right;
    align-items: center;
}
.cal-heading{
    display: flex;
    justify-content:center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.cal-container{
    width: 40%;
    height: 80%;
    border-radius: 20px;
    border: 4px solid white;

}
.screen {
    height: 35%;
    background-color: #2A2D35;
    border-top-left-radius: 16px; 
    border-top-right-radius: 16px;
    color: white;
    display: flex;
    justify-content: right;
    align-items: center;
}
.screen input{
    background-color: #2A2D35;
    color: white;
    height: 80%;
    width: 100%;
    border: none;
    outline: none;
    text-align: right;
    margin-right: 10px;
    font-size: 50px;
}

.dailpad {
    height: 65%;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: #2A2D35;
    display: grid;
    grid-template-columns: auto auto auto auto ;
    gap: 1px;
}
.btn{
    background-color: #2E3444;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.btn13{
    border-bottom-left-radius: 16px;
}
.btn16{
    border-bottom-right-radius: 16px;
}
.btn4 , .btn8 , .btn12 , .btn16{
    background-color: #AA65BA;
}
.btn1 , .btn2 , .btn3{
    color: #AA65BA;
}

@media (max-width :400px) {
    .container{
        display: flex;
    }
    .cal-heading{
        display: none;
    }
    .cal-container{
        height: 100%;
        width: 100%;
        
    }
}
@media (max-width :700px) and (min-width :400px) {
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cal-heading{
        display: none;
    }
    .cal-container{
        height: 90%;
        width: 50%;
    }
}
@media (max-width :1000px) and (min-width :700px) {
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cal-heading{
        display: none;
    }
    .cal-container{
        height: 90%;
        width: 30%;
    }
}